.login-card {
    background: white;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 400px;
}

.login-card h2 {
    color: #1D3557;
    text-align: center;
    margin-bottom: 30px;
}

.input-group { margin-bottom: 20px; }
.input-group label { display: block; margin-bottom: 8px; font-weight: bold; color: #1D3557; }
.input-group input { width: 100%; padding: 12px; border: 1.5px solid #ddd; border-radius: 8px; }

.btn-login {
    width: 100%;
    padding: 15px;
    background: linear-gradient(135deg, #1D3557 0%, #C71585 100%);
    color: white;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.btn-login:hover { transform: translateY(-2px); opacity: 0.9; }

.btn_oeil {
    position: absolute;
    right: 12px;
    bottom: 10px;
    background: transparent;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    outline: none;
}

.btn_oeil:hover {
    transform: scale(1.1);
}

.input-group {
    margin-bottom: 15px;
    position: relative; /* Indispensable pour garder l'oeil dans la div ! */
}
