fieldset {
    border: 2px solid #C71585;
    border-radius: 15px;
    padding: 30px;
    width: 600px;
    margin: 0px auto;
    background-color:#1D3557;
}

legend{
    color: #ffffff;
    padding: 10px;
    background-color: #1D3557;
    border: 2px solid #C71585;
    border-radius: 5px;
    font-weight: bold;
}

.div1{
    display:inline-block;
    width: 250px;
    color:white;
    font-weight:bold;   
}
.div2{
    display:inline;
}

input[type="text"], 
input[type="email"], 
input[type="tel"], 
input[type="password"], 
input[type="date"],
select{
    width:250px;
    box-sizing: border-box;
    color: #ffffff;
    padding: 10px;
    background-color: #213B61;
    border: 1px solid #00FFFF;
    border-radius: 5px;
    font-weight: bold;
    outline: none;/*pour forcer le css à utiliser la bonne bordure*/
}

input[type="text"]:focus, 
input[type="email"]:focus, 
input[type="tel"]:focus, 
input[type="password"]:focus, 
input[type="date"]:focus,
select:focus{
    border-color: #ff00ff;
}

input[type="submit"],input[type="reset"],a{
    color: #ffffff;
    padding: 10px;
    background-color: rgba(0, 255, 255, 0.2);
    border: 1px solid #00FFFF;
    border-radius: 5px;
    font-weight: bold;
    text-decoration: none;
    color:white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13.3px; 
}

input[type="submit"]:hover,input[type="reset"]:hover,a:hover{
    background-color: #FF1493;
    border-color: #FF1493;
    color:white;
}